<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865445704942-sa8s9ih0bgtd9ikic23lhlh6uhe3gn5e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865445704942-sa8s9ih0bgtd9ikic23lhlh6uhe3gn5e</string>
	<key>API_KEY</key>
	<string>AIzaSyA-zJa30ZsfPpvOld0_6sbBGW6h9KkwmIE</string>
	<key>GCM_SENDER_ID</key>
	<string>865445704942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kamusq</string>
	<key>PROJECT_ID</key>
	<string>kamusq-projects</string>
	<key>STORAGE_BUCKET</key>
	<string>kamusq-projects.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865445704942:ios:0a71f216ce2619ceb5efff</string>
</dict>
</plist>